.sugBar {
  background-color: #373f68;
  border-radius: 10px;
  width: 100%;
  height: 12vh;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.sugBar_left {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 55%;
}

.sugBar_left img {
  height: 5vh;
  width: 3vw;
  margin-left: 1.5rem;
}

.sugBar_left h5 {
  font-size: 1.2rem;
}

.sugBar_right {
  margin-right: 2rem;
}

.sugBar_right button {
  background: #c75af6;
  border: none;
  border-radius: 10px;
  padding: 1rem 2rem;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.sugBar_right button:hover {
  background: #c75af66c;
}

.dropdownContainer {
  position: relative;
}

.dropdown-select {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-left: 1rem;
  cursor: pointer;
}

.dropdown-select img {
  height: auto;
  width: 1vw;
}

.dropdown {
  position: absolute;
  top: 2rem;
  z-index: 99;
  width: 15rem;
  background: #ffffff;
  box-shadow: 0px 10px 40px -7px rgba(55, 63, 104, 0.350492);
  border-radius: 10px;
  color: #647196;
}

.dropdown ul {
  margin: 0;
  padding: 0;
}

.dropdown li {
  padding: 0.75rem 0;
  border-bottom: #979797 1px solid;
  cursor: pointer;
}

.dropdown li:hover {
  color: #ad1fea;
}

.dropdown li:last-child {
  border-bottom: none;
}
