.sidebar {
  width: 15vw;
}

.top-sidebar {
  height: 10vh;
  width: 15vw;
  background: radial-gradient(
    128.88% 128.88% at 103.9% -10.39%,
    #e84d70 0%,
    #a337f6 53.09%,
    #28a7ed 100%
  );
  border-radius: 10px;
}

.top-sidebar h1 {
  color: white;
}

.top-sidebar h6 {
  font-size: 0.75rem;
  color: #ffffff;
  mix-blend-mode: normal;
  opacity: 0.75;
}
