@import url("https://fonts.googleapis.com/css2?family=Jost:wght@400;600;700&display=swap");

body {
  margin: 0;
  font-family: "Jost", sans-serif;
  color: #3a4374;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Jost", sans-serif;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 1.5rem;
}

h2 {
  font-size: 1.25rem;
}

h3 {
  font-size: 1.1rem;
}

h4 {
  font-size: 0.875rem;
}
